<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatschat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All chats!</h1>
    <form action="/chats/new" method="get">
        <button>Create Chat</button>
    </form>
    <%for(let chat of chats){%>
        <div class="chat">
            <p><b>From:</b><i>   <%=chat.from%></i></p>
            <div class="msg">
                <p><b class="msg-h">Message:</b> <%=chat.message%></p>
                <form action="/chats/<%=chat._id%>/edit" method="get">

                    <button class="e-btn">Edit</button>         
                </form>
                <form action="/chats/<%=chat._id%>?_method=DELETE" method="post">

                    <button class="e-btn">Delete</button>         
                </form>
                <form action="/chats/<%=chat._id%>" method="get">

                    <button class="e-btn">show</button>         
                </form>
            </div>
            <p><b>Recived by:</b>  <i><%=chat.to%></i></p>
            <hr>
            <p><%=chat.created_at.toString().split(" ")[4]%></p>
            <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
        </div>
    <%}%>
</body>
</html>