 <%-include("includes/header.ejs")%>
<body>
    <!--Create a basic template for instagram page based on following route:
                /ig/:username-->
                <h1><%=data.name%></h1>
    <div style="display: flex; gap: 10px;">
    <div style="height: 100px; width: 100px; border-radius: 50%; background-color: gray;"></div>
    <div style="display: flex; margin-top: 25px;gap: 20px;">
        <p>Followers:<%=data.followers%> &nbsp; &nbsp; &nbsp;Following:<%=data.following%></p>
        <br>
</div>
</div>
<button style="height: 20px;">Follow</button>
<button style="height: 20px;">Message</button>
<hr>
    <div class="post">
        <%for(let post of data.posts){%>
            <div class="post-n">
        <img src="<%=post.image%>" alt="some post">
        <p>Likes:<%=post.likes%> &nbsp; &nbsp; &nbsp;Comments:<%=post.comments%></p>
    </div>
        <%}%>
    </div> 
    <%-include("includes/footer.ejs")%>   
</body>
</html>